*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    color: aliceblue;
    align-items: center;
    background-color: #212121;
}
.container{
    height: vh;
    gap: 20px;

    display: flex;
    background-color: rgb(53, 52, 50);
    flex-direction: column;
    text-align: center;
    margin: 10px;
    border: 1px solid;
    border-radius: 10px;
}
form{
    margin: 15px;
}
input{
    margin: 10px;
    height: 25px;
    border-radius: 5px;
    border: none;
}
h3{
    margin: 5px;
    padding: 5px;
    font-size: 2rem;
    color: rgb(209, 145, 145);
}
button{
    height: 2em;
    border-radius: 5px;
    background-color: rgb(37, 206, 150);
    border: none;
    margin: 2px;
    padding: 5px;
}
button:hover{
    background-color:rgb(94, 231, 185) ;
}
#results{
    margin: 20px;
    font-size: 3em;
}
h2{
    margin: 10px;

}
p{
    margin: 8px;
}